.caption {
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
    font-size: 8px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    line-height: 1.4;
}

.meimg {
    width: 280px;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

.divider {
  width: 100%;
  max-width: 180px;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 15px;
}

.introtext {
  max-width: 800px;
  width: 95%;
  margin: 0 auto;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-weight: lighter;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 096);
  line-height: 1.6;
}

.introline {
    margin-bottom: 1rem;
    font-family: "IBM Plex Mono", monospace;
}

.links {
    display: flex;
    font-size: 1.3rem;
    max-width: 800px;
    width: 95%;
    justify-content: center;
    font-size: 1.3rem;
    font-family: "IBM Plex Mono", monospace;
}

.linkdivider {
    font-size: 1.3rem;
    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    cursor: default;
}

.deactivatedlink {
    cursor: default;
    color: rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
    font-family: "IBM Plex Mono", monospace;
}

@media (max-width: 1280px) {
  .meimg {
    width: 220px;
  }
}

@media (max-width: 1024px) {
  .meimg {
    width: 180px;
  }
}

@media (max-width:900px) {
    .thanks {
        display: none;
    }

    .metadata {
        display: none;
    }
}

@media (max-width: 768px) {
  .meimg {
    width: 140px;
  }
}

@media (max-width: 480px) {
  .meimg {
    width: 120px;
  }
}

@media (max-height: 800px) {
  html { font-size: 15px; }
  .meimg { width: 240px; }
}

@media (max-height: 750px) {
  html { font-size: 14px; }
  .meimg { width: 200px; }
}

@media (max-height: 600px) {
  html { font-size: 13px; }
  .meimg { width: 160px; }
}

.metadata {
  position: absolute;
  top: 5rem;
  right: 5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "IBM Plex Mono", monospace;
  font-size: 10px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.7;
  line-height: 1.4;
}

.thankswrapper {
    min-width: 700px;
    max-width: 1200px;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.thanks {
    align-items: right;
    font-family: "IBM Plex Mono", monospace;
    font-size: 10px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.6);
}